.archi h2{
    padding: 2%;
    font-family: Times New Roman;
    color: purple;
}

.archi span
{
    padding: 2%;
    font-family: Verdana;
}

a:hover
{
    text-underline-style: none;
    text-underline: none;
    text-decoration: none;
}